*.rpt
*.bdf
*.hex
*.dep
*.svd
*.cyprj.bak
*.cywrk.bak
*.cyfit
*.a
*.o
*.exe
*.elf
*.log
*.dblite
*.mk
*.obj
*.lst
*.tra
*.idb
*.aps
*.htm
*.xml
*.svd
*.dat
*.crf
*.run
*.log
*.status
*.depend
*.d
*.cmd
*.tmp
Generated_Source/
CortexM3/
CortexM0/
CortexM4/
PSoC5/
ARM_GCC_541/

!*.c
!*.h